@import "colors.css";

* {
    border: none;
    border-radius: 8;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @on_surface;
}

#custom-nixos {
    padding: 0 12px;
    color: @primary;
    font-size: 1.5rem;
}

#workspaces button {
    padding: 0 10px;
    color: @on_surface;
    background: @surface_container;
    margin: 2px;
    border-radius: 8px;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#workspaces button:hover {
    background: alpha(@primary, 0.3);
}

#clock,
#battery,
#pulseaudio,
#network {
    padding: 0 12px;
    margin: 2px;
    border-radius: 8px;
    background: @surface_container;
    color: @on_surface;
}

#battery.charging {
    color: @secondary;
}

#battery.warning:not(.charging) {
    color: @tertiary;
}

#battery.critical:not(.charging) {
    color: @error;
}

#pulseaudio.muted {
    color: alpha(@on_surface, 0.5);
}

#network.disconnected {
    color: @error;
}
